[data-dropdown-content] {
  position: absolute;
  top: 100%;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  overflow: clip;
  transition: all 150ms ease-in-out;
  z-index: 100;
}

[data-dropdown] {
  position: relative;

  &:hover,
  &.active {
    [data-dropdown-content] {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
