@use '../base/mixins' as m;

.header {
  margin-bottom: 0.5rem;
  background-color: hsl(var(--clr-neutral-100));

  &__top {
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: 2px solid #327f37;
  }

  &__logo {
    a {
      display: flex;
      align-items: center;
      gap: 12px;
      text-decoration: none;
    }

    span {
      --fz: 24px;
      font-family: var(--ff-main);
      font-size: var(--fz);
      font-weight: 700;
      color: var(--clr-brand);
      text-transform: uppercase;
    }
  }

  &__ctas {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__cta {
    height: 40px;
    padding-inline: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-main);
    font-size: 14px;
    font-weight: 500;
    color: hsl(var(--clr-neutral-100));
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 150ms ease-in-out;

    &--brand {
      background-color: var(--clr-brand);

      &:hover {
        background-color: var(--clr-brand-hover);
      }
    }

    &--accent {
      background-color: var(--clr-accent);

      &:hover {
        background-color: var(--clr-accent-hover);
      }
    }
  }

  &__bottom {
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__link {
    font-family: var(--ff-main);
    font-size: 16px;
    font-weight: 500;
    color: #32394d;
    text-decoration: none;
    text-transform: uppercase;
    font-feature-settings: 'case' on;
  }

  &__btn {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--ff-main);
    font-size: 16px;
    font-weight: 500;
    color: #32394d;
    text-transform: uppercase;
    font-feature-settings: 'case' on;
    background-color: transparent;
    border: none;
    cursor: pointer;

    i {
      color: #32394d;
      font-size: 10px;
    }
  }

  &__btn-block {
    height: 40px;
    padding-inline: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #32394d;
    border-radius: 10px;

    font-family: var(--ff-main);
    font-weight: 500;
    font-size: 14px;
    font-feature-settings: 'case' on;
    color: #ffffff;
    text-decoration: none;
  }
}

.dropdown-nav {
  position: absolute;
  margin: 0;
  padding: 1em;
  list-style-type: none;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 2px 4px hsl(0 0% 0% / 0.15);
  border-radius: 0.1em;

  &__link {
    display: block;
    padding-block: 0.2em;
    font-family: var(--ff-main);
    font-size: 16px;
    font-weight: 500;
    color: #32394d;
    text-decoration: none;
    text-transform: uppercase;
    font-feature-settings: 'case' on;
  }
}

.search {
  position: relative;

  &__input {
    width: 200px;
    height: 40px;
    padding-inline: 12px 30px;
    font-family: var(--ff-main);
    font-size: 14px;
    font-weight: 500;
    color: #292a30;
    border: 1px solid #32394d;
    border-radius: 10px;

    &::placeholder {
      color: #32394d;
    }
  }

  &__btn {
    position: absolute;
    right: 6px;
    height: 40px;
    margin: 0;
    padding: 0 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #32394d;

    svg {
      display: block;
      width: 24px;
      height: 25px;
      fill: none;
      stroke: #32394d;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}
