@charset "UTF-8";
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"), url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

:root {
  --clr-brand: #2fa837;
  --clr-brand-hover: #278b2d;
  --clr-accent: #ffa823;
  --clr-accent-hover: #e6961f;
  --clr-red: #f10000;
  --clr-blue: 224 21% 25%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-800: #33353c;
  --clr-neutral-900: 0 0% 0%;
  --ff-main: "Helvetica Neue LT GEO", "FiraGO", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", sans-serif;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

body {
  background-color: #f1f1f1;
}

.container {
  width: min(100% - 2rem, 1296px);
  margin-inline: auto;
}

p {
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 163.2%;
  letter-spacing: -0.01em;
  color: #32394d;
}

.header {
  margin-bottom: 0.5rem;
  background-color: hsl(var(--clr-neutral-100));
}
.header__top {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 2px solid #327f37;
}
@media screen and (max-width: 768px) {
  .header__top {
    padding-block: 10px;
  }
}
.header__logo a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}
.header__logo span {
  --fz: 24px;
  font-family: var(--ff-main);
  font-size: var(--fz);
  font-weight: 700;
  color: var(--clr-brand);
  text-transform: uppercase;
  font-feature-settings: "case" on;
}
@media screen and (max-width: 768px) {
  .header__logo span {
    --fz: 18px;
  }
}
@media screen and (max-width: 768px) {
  .header__logo img {
    width: 24px;
    height: auto;
  }
}
.header__ctas {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .header__ctas {
    display: none;
  }
}
.header__ctas.mobile-only {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__ctas.mobile-only {
    display: flex;
    margin-bottom: 10px;
  }
}
.header__cta {
  height: 40px;
  padding-inline: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-main);
  font-size: 14px;
  font-weight: 500;
  color: hsl(var(--clr-neutral-100));
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 150ms ease-in-out;
}
.header__cta--brand {
  background-color: var(--clr-brand);
}
.header__cta--brand:hover {
  background-color: var(--clr-brand-hover);
}
.header__cta--accent {
  background-color: var(--clr-accent);
}
.header__cta--accent:hover {
  background-color: var(--clr-accent-hover);
}
.header__bottom {
  position: relative;
  padding-block: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 1360px) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: hsl(var(--clr-neutral-100));
    z-index: 100;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 200ms ease-in-out;
  }
  .nav.active {
    transform: scaleY(1);
    opacity: 1;
  }
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
}
@media screen and (max-width: 1360px) {
  .nav__list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
}
.nav__link {
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 500;
  color: #32394d;
  text-decoration: none;
  text-transform: uppercase;
  font-feature-settings: "case" on;
}
.nav__btn {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 500;
  color: #32394d;
  text-transform: uppercase;
  font-feature-settings: "case" on;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.nav__btn i {
  color: #32394d;
  font-size: 10px;
}
.nav__btn-block {
  height: 40px;
  padding-inline: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #32394d;
  border-radius: 10px;
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 14px;
  font-feature-settings: "case" on;
  color: #ffffff;
  text-decoration: none;
}
@media screen and (max-width: 1360px) {
  .nav__btn-block {
    align-self: flex-start;
    width: max-content;
  }
}

.dropdown-nav {
  position: absolute;
  margin: 0;
  padding: 1em;
  list-style-type: none;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 2px 4px hsla(0deg, 0%, 0%, 0.15);
  border-radius: 0.1em;
}
@media screen and (max-width: 1360px) {
  .dropdown-nav {
    position: relative !important;
    transform: scaleY(1) !important;
    opacity: 1 !important;
    box-shadow: unset;
    padding: 0;
    padding-inline-start: 1rem;
  }
}
.dropdown-nav__link {
  display: block;
  padding-block: 0.2em;
  font-family: var(--ff-main);
  font-size: 16px;
  font-weight: 500;
  color: #32394d;
  text-decoration: none;
  text-transform: uppercase;
  font-feature-settings: "case" on;
}

.search {
  position: relative;
}
.search__input {
  width: 200px;
  height: 40px;
  padding-inline: 12px 30px;
  font-family: var(--ff-main);
  font-size: 14px;
  font-weight: 500;
  color: #292a30;
  border: 1px solid hsla(224deg, 21%, 25%, 0.7);
  border-radius: 10px;
}
.search__input::placeholder {
  color: hsla(224deg, 21%, 25%, 0.7);
}
.search__btn {
  position: absolute;
  right: 6px;
  height: 40px;
  margin: 0;
  padding: 0 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: hsla(224deg, 21%, 25%, 0.7);
}
.search__btn svg {
  display: block;
  width: 24px;
  height: 25px;
  fill: none;
  stroke: hsla(224deg, 21%, 25%, 0.7);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.open-nav {
  display: none;
  margin-left: auto;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: var(--clr-brand);
  cursor: pointer;
}
@media screen and (max-width: 1360px) {
  .open-nav {
    display: block;
  }
}

.close-nav {
  display: none;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: var(--clr-brand);
  cursor: pointer;
}
@media screen and (max-width: 1360px) {
  .close-nav {
    display: block;
  }
}

.project-card {
  padding: 16px 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: hsl(var(--clr-neutral-100));
  border-radius: 13px;
}
@media screen and (max-width: 1360px) {
  .project-card {
    flex-direction: column;
  }
}
.project-card__img {
  height: 240px;
  flex: 0 0 296px;
  border-radius: 11px;
  overflow: clip;
}
.project-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-card__content {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 1360px) {
  .project-card__content {
    flex-direction: column;
  }
}
.project-card__title {
  margin-bottom: 12px;
  font-family: var(--ff-main);
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.005em;
  font-feature-settings: "case" on;
  color: #32394d;
}
@media screen and (max-width: 1360px) {
  .project-card__title {
    text-align: center;
  }
}
.project-card__desc {
  max-width: 420px;
  font-family: var(--ff-main);
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #32394d;
  opacity: 0.8;
}
@media screen and (max-width: 1360px) {
  .project-card__desc {
    max-width: unset;
  }
}
.project-card__stats {
  margin-top: 24px;
  padding-top: 15px;
  display: flex;
  gap: 1rem;
  border-top: 1px solid hsla(224deg, 21%, 25%, 0.32);
}
@media screen and (max-width: 1360px) {
  .project-card__stats {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .project-card__stats {
    flex-direction: column;
  }
}
.project-card__ctas {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
@media screen and (max-width: 1360px) {
  .project-card__ctas {
    align-self: flex-start;
    flex-direction: row;
    margin-inline: auto;
  }
}
@media screen and (max-width: 680px) {
  .project-card__ctas {
    flex-direction: column;
    margin-inline: unset;
  }
}
.project-card__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 56px;
  border-radius: 5px;
  font-family: var(--ff-main);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  text-transform: uppercase;
  font-feature-settings: "case" on;
  text-decoration: none;
}
@media screen and (max-width: 1360px) {
  .project-card__cta {
    width: 100%;
    padding-inline: 1rem;
  }
}
.project-card__cta--block {
  background-color: var(--clr-brand);
  border-radius: 5px;
  color: hsl(var(--clr-neutral-100));
  transition: background-color 150ms ease-in-out;
}
.project-card__cta--block:hover {
  background-color: var(--clr-brand-hover);
}
.project-card__cta--outline {
  border: 1px solid #000000;
  border-radius: 5px;
  color: #32394d;
}

.stat-project {
  padding: 8px;
  display: flex;
  flex-direction: column;
  background: #fdfdfd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(50, 57, 77, 0.15);
}
.stat-project__count {
  position: relative;
  width: 68px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-main);
  font-weight: 700;
  font-size: 24px;
  line-height: 144.2%;
  color: #32394d;
}
.stat-project__count span {
  position: relative;
  z-index: 10;
}
.stat-project__desc {
  font-family: var(--ff-main);
  font-size: 12px;
  color: #32394d;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-feature-settings: "case" on;
}

.rating {
  display: flex;
  align-items: center;
  gap: 6px;
}
@media screen and (max-width: 1360px) {
  .rating {
    position: absolute;
    right: 0;
    bottom: 58px;
  }
}
@media screen and (max-width: 680px) {
  .rating {
    bottom: 46px;
  }
}
.rating__indicator {
  font-size: 28px;
  color: #32394d;
}
.rating__indicator--down {
  color: #ff0000;
}
.rating__indicator--down i {
  transform: rotate(90deg);
}
.rating__indicator--up {
  color: #2fa837;
}
.rating__indicator--up i {
  transform: rotate(270deg);
}
.rating__count {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #3c3d3f;
  opacity: 0.9;
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-inner-card__img {
  width: 100%;
  height: 240px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 15px 10px -14px hsla(0deg, 0%, 7%, 0.6);
}
@supports (overflow: clip) {
  .project-inner-card__img {
    overflow: clip;
  }
}
.project-inner-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-inner-card__heading {
  position: relative;
  margin-bottom: 8px;
  padding-block: 14px;
}
.project-inner-card__heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 172px;
  height: 0.5px;
  background: #32394d;
  opacity: 0.7;
}
.project-inner-card__title {
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 16px;
  font-feature-settings: "case" on;
  color: #22283a;
  text-align: center;
}
.project-inner-card__info {
  padding-inline: 6px;
}
.project-inner-card__info p {
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: 13px;
  line-height: 163.2%;
  letter-spacing: -0.01em;
  color: #32394d;
}
.project-inner-card__info a {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  color: #32394d;
  transition: color 150ms ease-in-out;
}
.project-inner-card__info a:hover {
  color: #10214b;
}
.project-inner-card__ctas {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}
.project-inner-card__ctas .btn--block {
  width: 60%;
}
.project-inner-card__ctas .btn--outline {
  width: 40%;
}

.section {
  margin-bottom: 24px;
  padding: 36px 20px;
  background: #f8f8f8;
  border-radius: 11px;
}
.section.chart, .section.ratings {
  padding-block-end: 10px;
}
.section.ratings {
  padding-inline: 0 !important;
}
.section.ratings .section__heading {
  padding-inline: 27px;
}
.section__heading {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 768px) {
  .section__heading {
    margin-bottom: 10px;
  }
}
.section__title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.section__title span {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  font-feature-settings: "case" on;
  color: #32394d;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .section__title span {
    font-size: 20px;
  }
}
.section__cta {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #32394d;
  opacity: 0.7;
  text-decoration: none;
}

.analytics-card {
  padding: 16px 28px;
  border-radius: 12px;
}
.analytics-card--green {
  background-color: #dfffe4;
}
.analytics-card--blue {
  background-color: #e2eeff;
}
.analytics-card--orange {
  background-color: #ffeee6;
}
.analytics-card__heading {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  gap: 18px;
}
@media screen and (max-width: 768px) {
  .analytics-card__heading {
    margin-bottom: 10px;
  }
}
.analytics-card__title {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 18px;
  font-feature-settings: "case" on;
  color: #32394d;
}
.analytics-card__title small {
  font-size: 13px;
}
.analytics-card__icon {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  border-radius: 6px;
}
.analytics-card__overall {
  padding-bottom: 9px;
  margin-bottom: 14px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .analytics-card__overall {
    flex-direction: column;
    align-items: flex-start;
  }
}
.analytics-card__overall::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 256.42px;
  height: 2.32px;
  background-color: #32394d;
}
.analytics-card__overall strong {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  letter-spacing: 0.045em;
  color: #32394d;
}
.analytics-card__overall p {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "case" on;
  color: #32394d;
}
.analytics-card__latest {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--ff-main);
  font-weight: 300;
  font-size: 16px;
  font-feature-settings: "case" on;
  color: #32394d;
}
.analytics-card__change {
  display: flex;
  align-items: flex-end;
}
.analytics-card__change[data-type=positive] {
  --state: var(--clr-brand);
}
.analytics-card__change[data-type=negative] {
  --state: var(--clr-red);
}
.analytics-card__change span {
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--state);
}
.analytics-card__change img {
  display: block;
  width: 20px;
}

.news-card {
  padding: 30px 15px;
  display: flex;
  gap: 12px;
  background: #ffffff;
  border-radius: 20px;
}
@media screen and (max-width: 1360px) {
  .news-card {
    flex-direction: column;
  }
}
.news-card__image {
  flex: 0 0 288px;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: clip;
}
.news-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-card__title {
  margin-bottom: 16px;
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: #32394d;
}
.news-card__footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.news-card__meta {
  display: flex;
  align-items: center;
  gap: 9px;
}
.news-card__meta time {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #3c3d3f;
}
.news-card__meta i {
  color: #3c3d3f;
}
.news-card__cta {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #32394d;
  opacity: 0.8;
  text-decoration: underline;
}

.ratings-table {
  position: relative;
  width: max-content;
  overflow: clip;
  width: 100%;
}
.ratings-table::before, .ratings-table::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #ffffff;
}
.ratings-table::before {
  left: -20px;
}
.ratings-table::after {
  right: -20px;
}
.ratings-table table {
  width: 100%;
  border-collapse: collapse;
}
.ratings-table__img {
  margin-inline: auto;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  overflow: clip;
  border: 1px solid #32394d;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ratings-table__img img {
  width: 60px;
  height: 60px;
  border-radius: 40px;
  object-fit: cover;
}
.ratings-table__weight {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-feature-settings: "case" on;
  color: #ffa823;
}
.ratings-table thead {
  background-color: #32394d;
}
.ratings-table thead th {
  padding-block: 17px;
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 400;
  font-size: 16.2435px;
  line-height: 20px;
  font-feature-settings: "case" on;
  color: #ffffff;
}
.ratings-table thead th:first-child {
  padding-inline-start: 24px;
}
.ratings-table thead th:last-child {
  padding-inline-end: 24px;
}
.ratings-table thead th:nth-child(2) {
  padding-inline: 30px;
}
@media screen and (max-width: 768px) {
  .ratings-table thead th:nth-child(2) {
    padding-inline: 10px;
  }
}
.ratings-table tbody tr:first-child td {
  padding-top: 24px;
}
.ratings-table tbody tr:not(:last-child) {
  border-bottom: 1px solid hsla(224deg, 21%, 25%, 0.32);
}
.ratings-table tbody td {
  padding-block: 24px;
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-feature-settings: "case" on;
  color: #32394d;
}
.ratings-table tbody td:first-child {
  padding-inline-start: 24px;
}
.ratings-table tbody td:last-child {
  padding-inline-end: 24px;
}
.ratings-table tbody td:nth-child(2) {
  padding-inline: 30px;
}
@media screen and (max-width: 768px) {
  .ratings-table tbody td:nth-child(2) {
    padding-inline: 10px;
  }
}

.footer {
  background: #ffffff;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1094px;
  margin-inline: auto;
  padding-block: 16px 20px;
}
@media screen and (max-width: 1100px) {
  .footer__top {
    padding-inline: 1rem;
  }
}
.footer__bottom {
  padding-block: 27px 32px;
  background-color: #f8f8f8;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer__logo span {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  font-feature-settings: "case" on;
  color: #327f37;
}
.footer__copy {
  max-width: 1094px;
  margin-inline: auto;
}
@media screen and (max-width: 1100px) {
  .footer__copy {
    padding-inline: 1rem;
  }
}
.footer__copy p {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "case" on;
  color: #32394d;
  opacity: 0.9;
}

.nav-footer {
  max-width: 1094px;
  margin-inline: auto;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid hsla(224deg, 21%, 25%, 0.32);
}
@media screen and (max-width: 1100px) {
  .nav-footer {
    padding-inline: 1rem;
  }
}
.nav-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1100px) {
  .nav-footer__list {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}
.nav-footer__link {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  font-feature-settings: "case" on;
  color: #32394d;
  opacity: 0.9;
  text-decoration: none;
  transition: color 150ms ease-in-out;
}
.nav-footer__link:hover {
  color: var(--clr-brand);
}

.contact-footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.contact-footer__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .contact-footer__link--mail span {
    display: none;
  }
}
.contact-footer__link--mail:hover svg {
  fill: var(--clr-brand);
}
.contact-footer__link--mail svg {
  width: 38px;
  height: 28px;
  fill: hsla(224deg, 21%, 25%, 0.9);
  transition: fill 150ms ease-in-out;
}
.contact-footer__link--fb:hover svg {
  stroke: var(--clr-brand);
}
.contact-footer__link--fb svg {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #32394d;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  opacity: 0.9;
  transition: stroke 150ms ease-in-out;
}
.contact-footer__link--tw:hover svg {
  stroke: var(--clr-brand);
}
.contact-footer__link--tw svg {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #32394d;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  opacity: 0.9;
  transition: stroke 150ms ease-in-out;
}
.contact-footer__link--yt:hover svg {
  stroke: var(--clr-brand);
}
.contact-footer__link--yt svg {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: #32394d;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
  opacity: 0.9;
  transition: stroke 150ms ease-in-out;
}
.contact-footer__link span {
  font-family: var(--ff-main);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #32394d;
  opacity: 0.9;
}

#lineChart {
  height: 350px !important;
  width: 100% !important;
}
@media screen and (max-width: 1360px) {
  #lineChart {
    height: unset !important;
  }
}

.chart__controls {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 22px;
}
@media screen and (max-width: 768px) {
  .chart__controls {
    gap: 10px;
  }
}

.chart-filter {
  height: 38px;
  padding-inline: 18px;
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 16px;
  font-feature-settings: "case" on;
  color: #32394d;
  background: #ffffff;
  border: 1px solid #32394d;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.chart-filter.active, .chart-filter:hover {
  color: #ffffff;
  background-color: #32394d;
}
@media screen and (max-width: 768px) {
  .chart-filter {
    font-size: 14px;
    padding-inline: 10px;
  }
}

[data-dropdown-content] {
  position: absolute;
  top: 100%;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  overflow: clip;
  transition: all 150ms ease-in-out;
  z-index: 100;
}

[data-dropdown] {
  position: relative;
}
[data-dropdown]:hover [data-dropdown-content], [data-dropdown].active [data-dropdown-content] {
  opacity: 1;
  transform: scaleY(1);
}

@property --p {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}
.pie {
  --p: 70;
  --b: 22px;
  --c: #2fa837;
  --w: 174px;
  width: var(--w);
  height: var(--w);
  position: relative;
  display: grid;
  margin-inline: auto;
  place-content: center;
}
.pie__bg {
  position: absolute;
  width: var(--w);
  height: var(--w);
  border: 22px solid #ffa823;
  border-radius: 100%;
}
.pie__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-main);
  font-weight: 700;
  font-size: 27px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #32394d;
  position: relative;
  z-index: 100;
}
.pie__content span {
  font-family: inherit;
  font-weight: 400;
  font-size: 12.7628px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.01em;
  font-feature-settings: "case" on;
  color: #32394d;
}

.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  z-index: 100;
}

.pie:before {
  inset: 0;
  background: radial-gradient(farthest-side, var(--c) 98%, rgba(0, 0, 0, 0)) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), rgba(0, 0, 0, 0) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after {
  inset: calc(50% - var(--b) / 2);
  background: var(--c);
  transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}

.animate {
  animation: p 1s 0.5s both;
}

@keyframes p {
  from {
    --p: 0;
  }
}
.pie-legend {
  margin-block: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pie-legend__given, .pie-legend__available {
  padding-inline-start: 21px;
  position: relative;
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "case" on;
  color: #3e4259;
}
.pie-legend__given::before, .pie-legend__available::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 100%;
}
.pie-legend__given::before {
  background-color: #2fa837;
}
.pie-legend__available::before {
  background-color: #ffa823;
}

.coin-stats {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-coin {
  padding-bottom: 25px;
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(62, 66, 89, 0.9);
}
.total-coin span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #2fa837;
}

.form-input {
  position: relative;
}
.form-input label {
  position: absolute;
  top: -7px;
  left: 19px;
  padding-inline: 4px;
  background-color: #f8f8f8;
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 144.2%;
  letter-spacing: 0.01em;
  font-feature-settings: "case" on;
  color: #32394d;
}
.form-input input {
  height: 48px;
  width: 100%;
  padding-inline: 10px;
  font-family: var(--ff-main);
  font-size: 16px;
  color: #32394d;
  background-color: #f8f8f8;
  border: 1px solid #32394d;
  border-radius: 9px;
}

.btn {
  display: grid;
  place-content: center;
  height: 46px;
  font-family: var(--ff-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  font-feature-settings: "case" on;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn--block {
  color: #fff;
  background-color: var(--clr-brand);
  transition: all 150ms ease-in-out;
}
.btn--block:hover {
  background-color: var(--clr-brand-hover);
}
.btn--outline {
  color: #32394d;
  border: 1px solid hsla(224deg, 21%, 25%, 0.6);
  transition: border-color 150ms ease-in-out;
}
.btn--outline:hover {
  border-color: hsl(224deg, 21%, 25%);
}

.popup {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  display: none;
}
.popup.active {
  display: grid;
}
.popup[data-petition] .popup__content {
  max-width: 695px;
  padding-inline: 82px;
}
.popup[data-petition-success] .popup__content {
  background-color: hsl(var(--clr-neutral-100));
  max-width: 395px;
  padding-inline: 42px;
  border-radius: 8px;
}
.popup[data-petition-success] .popup__heading p {
  font-size: 13px;
}
.popup[data-petition-success] figure {
  display: flex;
  justify-content: center;
}
.popup__backdrop {
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-neutral-900)/0.34);
}
.popup__content {
  position: relative;
  width: 95vw;
  background: #f8f8f8;
  border-radius: 6px;
  padding-block: 24px 38px;
  font-family: var(--ff-main);
}
.popup__close {
  position: absolute;
  top: 26px;
  right: 34px;
  width: 26px;
  height: 26px;
  display: block;
  background-color: transparent;
  border: 2px solid hsl(var(--clr-blue));
  border-radius: 8px;
  cursor: pointer;
}
.popup__close i {
  display: block;
}
.popup__heading {
  margin-bottom: 34px;
  text-align: center;
}
.popup__heading h2 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.005em;
  font-feature-settings: "case" on;
  color: hsl(var(--clr-blue));
}
.popup__heading p {
  font-weight: 400;
  font-size: 15px;
  line-height: 150.2%;
  letter-spacing: -0.01em;
  color: hsl(var(--clr-blue));
}

.petition-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 34px;
}
.petition-form button {
  grid-column: span 2;
  justify-self: center;
  width: 320px;
}

.hero {
  width: 100%;
  display: grid;
  grid-template-columns: auto 400px;
  gap: 20px;
}
@media screen and (max-width: 1360px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1360px) {
  .hero__col:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .hero__col:last-child {
    grid-template-columns: 1fr;
  }
}

.news__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
@media screen and (max-width: 768px) {
  .news__container {
    grid-template-columns: 1fr;
  }
}

.analytics__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  .analytics__container {
    grid-template-columns: 1fr;
  }
}

.projects-grid {
  display: grid;
  row-gap: 31px;
}
@media (min-width: 580px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 26px;
  }
}
@media (min-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
